.parking_card_form{
    width: 100.5%;
    height: calc(100% - 80px);
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    white-space: nowrap;
    top: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.info_input_div{
    display: inline-block;
}

.sidebar{
    width: 30%;
    min-width: 270px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    white-space: normal;
    overflow-y: auto;
}

.main_space{
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.info_note_main_header_div{
    color: rgb(23, 99, 191);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.info_note_div{
    margin-top: 15px;
    color: rgb(23, 99, 191);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.info_note_header_value{
    display: inline-block;
    vertical-align: top;
}

.info_note_value{
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    white-space: normal;
}

.sidebar_button_div{
    margin-top: 15px;
}

.sidebar_button{
    width: 100%;
}

.list_filter_div{
    width: 100%;
    height: 50px;
}

.list{
    width: 100%;
    overflow-y: auto;
}

.parking_place_form_div{
    position: fixed;
    left: 50%;
    text-align: center;
    display: none;
    z-index: 3;
}

.button_div{
    margin-bottom: 15px;
    margin-top: 15px;
}

.price_div{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.price_units_div{
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

.height_checkbox_div{
    text-align: left;
    margin-bottom: 15px;
}

.parking_place_rent_info{
    text-align: left;
    margin-left: 20px;
}

.result_price_div{
    margin-top: 20px;
}







